################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PokemonAdventure/obj
/PokemonAdventure/bin/Debug/net6.0
/PokemonAdventure/bin/Debug/net7.0
/PokemonAdventure/obj/project.assets.json
/PokemonAdventure/obj/project.nuget.cache
/PokemonAdventure/obj/PokemonAdventure.csproj.nuget.dgspec.json
/PokemonAdventure/bin/Debug/net8.0
/PokemonAdventure.zip
/PokemonAdventure/PokemonAdventure.csproj
/PokemonAdventure.sln
